# Build directories
build/
bin/
out/
.vs/
*.obj
*.exe
*.pdb
*.ilk
*.lib
*.dll
*.bmp
*.png

# IDE & Editor artifacts
.vscode/
*.user
CMakeSettings.json
compile_commands.json

# OS artifacts
Thumbs.db
[Dd]esktop.ini
